site_name: Analitiq Documentation
site_url: https://analitiq.ai

nav:
  - Home: index.md
  - 'Getting Started':
    - 'Quick Start': getting_started/quick_start.md
    - 'Profiles YAML': getting_started/profiles.md
    - 'Project YAML': getting_started/project.md
  - 'Vector Databases':
    - 'Weaviate': vector_databases/weaviate.md

theme:
  name: material
  logo: assets/images/analitiq-logo-transparent.png
  favicon: assets/images/favicon.ico
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: white
      accent: purple
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: teal
      accent: lime

plugins:
  - search

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/analitiq-ai
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/analitiq-labs

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

copyright: |
  &copy; 2024 <a href="https://github.com/analitiq-ai/analitiq"  target="_blank" rel="noopener">Analitiq</a>